@import "tailwindcss";

:root {
  --background: #171717;
  --foreground: #ffffff;


  --primary: #111111;
  --secondary: #DFDFDF;

  --gray-background: #F5F5F0;
}

@theme inline{
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-gray-background: var(--gray-background);
}